body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    font-size: 1.2em;
    color: #f0f0f0;
    background-color: #1a1a1a;
}

#header {
    background-color: #ff3333;
}

#header a {
    display: inline-block;
    height: 3em;
    padding: 0 1.5em;
    margin: 0 0.5em;
    line-height: 3.2em;
    text-decoration: none;
    font-weight: bold;
    color: #f0f0f0;

}

#header a:hover {
    background-color: #ff4d4d;
}

#content {
    padding: 2em 15%;
}

h1 {
    color: #ff3333;
}
